:root {
  --background: #f0eef1;
  --font: #222;
  --border: #333;
  --display: #eee;
  --calculator: #aaa;

  --btn: #eee;
  --btn-hover: #ddd;
  --btn-active: #ccc;

  --btn-red: #faa;
  --btn-red-hover: #e99;
  --btn-red-active: #d88;

  --btn-blue: #aaf;
  --btn-blue-hover: #99e;
  --btn-blue-active: #88d;
}

* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: #eee;
  color: var(--font);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

.header {
  background-color: white;
}

.main {
  margin-top: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.books__container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.book-card {
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.book-card p {
  margin-top: 10px;
}

.book-card .btn {
  margin-top: 10px;
}

/* @media screen and (max-width: 768px) {
  .books__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .books__container {
    grid-template-columns: 1fr;
  }
} */

.form_container {
  padding: 20px;
  border: #222 solid 2px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: var(--btn-active);
}

/*---------------MODAL---------------*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  background-color: #f3f3f3;
  max-width: 60rem;
  padding: 2rem 3rem;

  border-radius: 1rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);

  transform: translate(-50%, -50%);
  transition: all 0.5s;

  z-index: 20;
}

.modal-header {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.modal__form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1.5rem;
}

.modal__form--label {
  font-size: 1.2rem;
  font-weight: 500;
}

.modal__form--input {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
}

.modal__form--button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/*-----------------OVERLAY----------------*/
.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
  pointer-events: all;
}

/*-----------------FOOTER----------------*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
}

.fa-github {
  color: var(--font);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(130%);
}
